<footer>
    <div class="footer-blurb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-blurb-item">
                    <!-- <img class="img-circle" src="http://lorempixel.com/100/100/people/3" alt="" width="100" height="100"> -->
                    <h3>My Stuff</h3>
                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
                    <p><a class="btn btn-primary" href="#">More Stuff</a></p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <!-- <img class="img-circle" src="http://lorempixel.com/100/100/people/1" alt="" width="100" height="100"> -->
                    <h3>Your Stuff</h3>
                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
                    <p><a class="btn btn-primary" href="#">More Stuff</a></p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <!-- <img class="img-circle" src="http://lorempixel.com/100/100/people/2" alt="" width="100" height="100"> -->
                    <h3>Our Stuff</h3>
                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
                    <p><a class="btn btn-primary" href="#">More Stuff</a></p>
                </div>

            </div>
            <!-- /.row -->	
        </div>
    </div>
    
    <div class="copyright">
        <div class="container">
            <p>Copyright &copy; Example.com 2015</p>
        </div>
    </div>
</footer>