<html lang="en">
<head>  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap" rel="stylesheet">
</head>

<!-- <app-navbar></app-navbar> to do - implement cool navbar as display option -->

<ng-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)" style="width: auto; height: auto;">


</ng-particles>
<h1 style="font-family: 'Source Code Pro', monospace;"> 
  <a href="https://www.hackerrank.com/googlnewman" style="color: white;">
    <img href="https://www.hackerrank.com/googlnewman" src="assets/hackerrank.png" style="width: 1.25em; height: 1.25em; margin-right: 2%;" alt="hackerrank"/>
  </a>
    Eric Newman     <a href="https://github.com/enewmanMN/" style="color: white;"><i class="fab fa-github" style=" margin-left: 2%;"></i></a>
  </h1>
<!-- or -->

<!-- <ng-particles [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles> -->
</html>
