<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio
                <small>Recent Work</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/1" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/2" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/3" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/4" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>


    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/5" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <!-- <img class="img-responsive" src="http://lorempixel.com/700/400/nature/6" alt=""> -->
            </a>
            <h3>
                <a href="#">Project Title</a>
            </h3>
            <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->